# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Raw and processed data
data/raw/*
data/processed/*
data/external/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Generated model files
results/models/*

# Environment variables
.env